.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  gap: 30px 24px;
  justify-content: center;
  grid-auto-flow: dense;
  padding: 70px 0 30px;
}

.cards__btn-container {
  padding: 50px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__btn {
  width: 320px;
  height: 36px;
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--bg-color-second);
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.5px;
}

.cards__btn:hover {
  opacity: .7;
}

@media screen and (max-width: 1180px) {
  .cards__list {
    grid-template-columns: repeat(3, 300px);
  }
}

@media screen and (max-width: 1020px) {
  .cards__list {
    grid-template-columns: repeat(2, 339px);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 800px) {
  .cards__list {
    grid-template-columns: repeat(2, 300px);
    gap: 16px 16px;
  }
}

@media screen and (max-width: 660px) {
  .cards__list {
    grid-template-columns: repeat(1, 364px);
  }
}

@media screen and (max-width: 420px) {
  .cards__list {
    grid-template-columns: repeat(1, 300px);
  }
}