.card {
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.card__item {
  width: 100%;
  cursor: pointer;
}

.card__container {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.card__time {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.card__btn {
  padding: 0;
  width: 30px;
  height: 30px;
  background: #f9f9f9;
  border: none;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__btn_save {
  background-image: url(../../images/save-icon.svg);
}

.card__btn_save_active {
  background-color: #2be080;
  background-image: url(../../images/saved-icon.svg);
}

.card__btn_delete {
  background-image: url(../../images/delete-btn.svg);
}

.card__image {
  width: 100%;
  height: 203px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 420px) {
  .card__image {
    height: 168px;
  }
}