.auth__container {
  margin: 0 auto;
  padding: 70px 0;
  max-width: 396px;
  display: flex;
  flex-direction: column;
}

.auth__logo {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.auth__logo:hover {
  opacity: 0.6;
}

.auth__title {
  box-sizing: border-box;
  margin: 0;
  padding: 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  min-height: 380px;
  width: 100%;
}

.auth-form__btn {
  margin-top: auto;
  width: 100%;
  height: 45px;
  border: none;
  background-color: #2be080;
  color: #fff;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}

.auth-form__btn:hover {
  opacity: .8;
}

.auth-form__btn_disabled {
  pointer-events: none;
  background: #f8f8f8;
}

.auth-form__text {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.auth-form__text_link {
  color: #2be080;
  cursor: pointer;
}

.auth-form__text_link:hover {
  opacity: .7;
}

.auth__field {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  position: relative;
}

.auth__input {
  margin: 0;
  padding: 5px 0 10px 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
}

.auth__input-error {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  position: absolute;
  top: 50px;
  left: 0;
  visibility: hidden;
}

.auth__input-error_active {
  visibility: visible;
}

@media screen and (max-width: 1023px) {
  .auth__container {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 660px) {
  .auth__container {
    padding: 56px 30px 30px;
    align-items: center;
  }

  .auth__title {
    margin: 0;
    padding: 50px 0 80px;
    text-align: center;
  }

  .auth-form {
    min-height: 468px;
  }

  .auth-form__btn {
    font-size: 12px;
    line-height: 15px;
  }

  .auth-form__text {
    padding-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}