.header {
  max-width: 100%;
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  padding: 0 70px;
}

.logo {
  width: 38px;
  height: 38px;
}

.header__auth {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 30px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__btn {
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 14px;
  }

  .header__auth {
    grid-gap: 14px;
  }

  .header__text {
    font-size: 10px;
    line-height: 16px;
  }

  .header__btn {
    width: 54px;
    height: 26px;
  }
}
