.burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.burger_opened {
  opacity: 1;
  visibility: visible;
}

.burger__container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -520px;
  width: 520px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
  padding: 27px 27px 90px;
  transition: right .3s linear;
}

.burger__container_opened {
  right: 0;
}

.burger__close-btn {
  width: 22px;
  height: 22px;
  align-self: flex-end;
  padding: 0;
  border: none;
  background: url("../../images/close-btn.svg") center center/cover no-repeat;
  transform: rotate(45deg);
  cursor: pointer;
}

.burger__nav {
  flex: 1 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 100%;
  min-height: calc(100% - 27px - 90px -32px - 32px);
  padding: 110px 90px 0;
}

.burger__link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color-main);
  cursor: pointer;
}

.burger__link_active {
  border-bottom: 2px solid var(--text-color-main);
}

.burger__link:hover {
  opacity: .7;
}

.burger__profile {
  align-self: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color-main);
  text-decoration: none;
}

.burger__profile:hover {
  opacity: .7;
}