.root {
  --theme-main-color: #2be080;
  --bg-color-main: #fff;
  --bg-color-footer: #fafafa;
  --bg-color-first: #f5f5f5;
  --bg-color-second: #e8e8e8;
  --bg-color-third: #f2f2f2;
  --btn-color-nav: #f9f9f9;
  --text-color-main: #000;
  --text-color-first: #a0a0a0;
  --text-color-errors: #ee3465;
  --theme-font: 'Inter', 'Arial', sans-serif;
}

.hover__link:hover {
  opacity: .7;
}